*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    opacity: 0.9;
}
body{
    background-image: url('paper.jpg');
}
#quizContainer {
    margin: 50px auto;
    width: 60%;
    text-align: center;
}
#choices{
    text-align: left;
}
#questionBox{
    margin: 10px 0;
}

.choice{
    margin: 10px 0;
}
.choice input[type='radio']{
    cursor: pointer;
}
.choice > input[type='radio']:checked{
    background: yellow;
}

#checkAnswer{
    width: 100%;
    margin-top: 30px;
    opacity: 1;
    background-color: white;
    height: 4em;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
}
#checkAnswer:hover{
    background-color: gray;
}

